/* 폰트 크기 */
:root {
  --box_text_size: 20px;
  --text_space: -0.2px;
}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 미디어 쿼리 */
@media screen and (max-width: 520px){
  html, body{
    font-size: 7px;
    font-family: 'Nanum Myeongjo';
  }

  video{
    -webkit-video-playable-inline
  }

  .sticky_container .sticky_menu .sticky_text{
    display: none;
  }

  .trns .container .box_text{
    font-size: 3rem;
  }

  .first .row .col-sm-8 .first_text{
    font-size: 1.1rem;
  }

  .first .row .col-sm-8 .first_text2{
    font-size: 1.1rem;
  }

  .second .second_text {
    font-size: 1.2rem;
  }

  .third .third_text{
    font-size: 1.2rem;
  }

  .third .third_text2{
    font-size: 1.2rem;
  }

}
/* 미디어 쿼리 */

html {
  font-size: 10px;
  display: inline-block;
  -webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
  background-color: black;
  color: white;
  font-family: 'Nanum Myeongjo';
}

.trns {
  animation: fadein 3s;
}

.vid{
  position: fixed;
  z-index: -1;
  margin: 0;
  padding: 0;
  filter: brightness(40%);
}

.sticky_container {
  position: relative;
  position: sticky;
  top: 0;
  z-index: 4;
}

.sticky_menu {
  margin: 0;
  max-width: auto;
  padding: 12px 0px 6px 0px;
  text-align: center;
  background-color: black;
}

.sticky_text{
  padding-right: 30vw;
  text-decoration: none;
  font-size: 1.5rem;
}

.sticky_btn {
  border: 0;
  padding-right: 2rem;
  color: white;
  background-color: transparent;
  transition: 200ms ease-out;
}

.sticky_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* 본문 시작 */

.box {
  position: fixed;
  z-index: -1;
  margin: 0;
  padding: 0;
  filter: brightness(40%);
}

.box_text {
  text-align: center;
  line-height: 120%;
  font-size: 5rem;
  font-weight: 700;
  padding-top: 40vh;
}

.logo {
  margin-top: 50vh;
  margin-bottom: 30vh;
  text-align: center;
  font-size: 2rem;
}

.new {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: var(--text_space)
  line-height: 700%;
}

.line {
  border-left: 1px solid whitesmoke;
  width: 0.1px;
  height: 30vh;
  margin-left: 50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.strong {
  font-weight: 600;
}


/* 첫번째 문단 */
.first {
  margin-top: 30vh;
  margin-bottom: 40vh;
}

.first_text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: var(--text_space)
}

.first_text2 {
  font-size: 1.9rem;
  font-weight: 900;
  letter-spacing: var(--text_space)
}

.logo2 {
}
/* 첫번째 문단 */

/* 두번째 문단 */

.second_text {
  margin-top: 5vh;
  margin-bottom: 20vh;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: var(--text_space)
}

.line2 {
  border-top: 1px solid white;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

/* 두번째 문단 */

.third{
  position: relative;
  display: grid;
  grid-template-row: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 50vh;
  margin-bottom: 80vh;
  height: 40vh;
}

.third_text{
  align-self: start;
  font-size: 1.7rem;
  line-height: 200%;
  letter-spacing: var(--text_space)
}

.third_logo{
  justify-self: center;
}

.third_text2{
  align-self: end;
  text-align: right;
  font-size: 1.7rem;
  line-height: 200%;
  letter-spacing: var(--text_space)
}

.plus{
  margin-top: 50vh;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: var(--text_space)
}