/* 폰트 크기 */

:root {
  --box_text_size: 20px;
  --text_space: -2px;
}

@font-face {
  font-family: Noto;
  src: url(/font/NotoSerifKR-Bold.otf);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


html {
  font-size: 10px;
}

body {
  background-color: black;
  color: white;
}

.fade {
  animation: fadein 3s;
}

.sticky_container {
  position: relative;
  position: sticky;
  top: 0;
  z-index: 4;
}

.sticky_menu {
  margin: 0;
  max-width: auto;
  padding: 12px 0px 6px 0px;
  text-align: center;
background-color: black;
}

.sticky_text{
  padding-right: 40vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: serif;
}

.sticky_btn {
  border: 0;
  padding-right: 2rem;
  color: white;
  background-color: transparent;
  transition: 200ms ease-out;
}

.sticky_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.box {
  /* position: relative; */
  position: fixed;
  z-index: -1;
  margin: 0;
  padding: 0;
  filter: brightness(40%);
}

/* .canvas{
  align-content: center;
  justify-content: center;
  width: 70%;
  margin: auto;
} */

.box_text {
  /* position: absolute; /* 배경 위 글자 배치 */
  /* top: 45%;
  left: 50%; */
  text-align: center;
  line-height: 120%;
  font-size: 5rem;
  font-family: serif;
  font-weight: 700;
  padding-top: 40vh;
}

.logo {
  margin-top: 50vh;
  margin-bottom: 30vh;
  text-align: center;
  font-size: 2rem;
  font-family: serif;
}

.new {
  text-align: center;
  font-size: 2.2rem;
  font-family: serif;
  letter-spacing: var(--text_space)
  line-height: 700%;
}

.line {
  border-left: 1px solid whitesmoke;
  width: 0.1px;
  height: 30vh;
  margin-left: 50%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.strong {
  font-family: serif;
  font-weight: 600;
}

.first {
  /* display: flex;
  margin-top: 40vh;
  margin-left: 10vw;
  height: 100vh; */
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 30vh;
  margin-bottom: 30vh;
  /* 1fr씩 할당하고, 중앙으로 당겨온다 */
}

.first_text {
  justify-content: end;
  font-size: 1.7rem;
  font-family: serif;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: var(--text_space)
}

.first_text2 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: var(--text_space)
}

.logo2 {
  width: 70%;
}

.second_text {
  margin-top: 5vh;
  margin-bottom: 20vh;
  text-align: center;
  font-size: 1.7rem;
  font-family: serif;
  font-weight: 600;
  line-height: 200%;
  letter-spacing: var(--text_space)
}

.line2 {
  border-top: 1px solid white;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}


.third{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  margin-top: 50vh;
  margin-bottom: 30vh;
  height: 40vh;
  
}

.third_text{
  align-self: start;
  margin-left: 5vw;
  font-size: 1.7rem;
  font-family: serif;
  letter-spacing: var(--text_space)
}

.third_logo{
  justify-self: center;
}

.third_text2{
  margin-right: 10vw;
  align-self: end;
  text-align: right;
  font-size: 1.7rem;
  font-family: serif;
  letter-spacing: var(--text_space)
}